<h1>To Do List</h1>
<p>This component demonstrates the integration between angular2, core and mongodb.</p>

<div class="row ">
    <div class="col-lg-3">
        <button class="btn btn-default" [routerLink]="['/todoform']">
            New To Do
        </button>
    </div>
</div>

<br/>

<div class="row">
    <div class="col-lg-3">
        <input type="date" [(ngModel)]="datefilter" (change)="list()" class="form-control">
    </div>
</div>


<br/>

<p *ngIf="!toDoList"><em>Loading...</em></p>
<table class="table" *ngIf="toDoList">
    <thead>
    <tr>
        <th>Descriçao</th>
        <th>Data</th>
        <th>Done</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let todo of toDoList">
        <td>{{ todo.description }}</td>
        <td>{{todo.date | date: 'dd/MM/yyyy'}}</td>
        <td>
            <input type="checkbox" (change)="changeStatus(todo)" [(ngModel)]="todo.done"/>
        </td>  
        <td>
            <a (click)="remove(todo.id)">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
        </td>
    </tr>
    </tbody>
</table>

